#! /usr/bin/env sh

export APP_PORT=8080
export APP_LOG_LEVEL=debug

export DB_HOST=localhost
export DB_PORT=3306
export DB_USERNAME=database_user
export DB_PASSWORD=database_pssw
export DB_DATABASE=database_name